.btn {
  width: 95.5%;
  background-color: #009788;
  color: white;
  text-align: center;
  display: inline-block;
  border: none;
  padding: 5px;
  border-radius: 3px;
}
.logo {
  width: 100%;
  height: auto;
}
.mainb {
  padding-left: 13px;
  padding-right: 0.1px;
  width: 100%;
  height: auto;
}
table,
th,
td {
  border: 0.5px solid #009788;
  border-collapse: collapse;
}
.content-box {
  top: 10%;
  left: 50%;
  width: 500px;
}
.content-box .content-title h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.content-box .timeline-content {
  padding: 10px;
}
.content-box .timeline-content ul {
  list-style: none;
  padding: 0;
  margin: -9px;
}
h3 {
  margin-left: 10px;
}
.content-box .timeline-content ul li a {
  text-decoration: none;
}
.content-box .timeline-content ul li h2 {
  font-size: 16px;
  color: rgb(0, 0, 0);
  display: block;
  padding-left: 20px;
  position: relative;
  margin-bottom: -10px;
  margin-top: -10px;
}
.content-box .timeline-content ul li h2::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1.5px solid #82875e;
  top: 5px;
  left: 0;
  border-radius: 50px;
}
.content-box .timeline-content ul li h3 {
  font-size: 12px;
  color: #666666;
  line-height: 30px;
  border: 3px solid #d0d0d0;
  border-width: 0 0 0 1px;
  padding: 10px 0 10px 12px;
  margin-left: 7px;
}

b {
  color: rgb(255, 255, 255);
  background: rgb(85 197 85);
  border-radius: 5px;
  padding: 5px;
}
hr {
  margin-top: 20px;
}
textarea {
  margin-top: 20px;
  border-radius: 2px;
}
